In [1]:
import pandas as pd
import numpy as np
import tushare as ts
import pymysql

In [2]:
connect = pymysql.connect('localhost','Display','123123','a_stocks')

In [3]:
import MYDB

In [4]:
MYDB.update_hs300(connect)
#抓取沪深300成分股的数据并存入数据库

http://www.csindex.com.cn/uploads/file/autofile/closeweight/000300closeweight.xls
Update Stock 600000
Update Stock 600008
Update Stock 600009
Update Stock 600010
Update Stock 600011
Update Stock 600015
Update Stock 600016
Update Stock 600018
Update Stock 600019
Update Stock 600021
Update Stock 600023
Update Stock 600028
Update Stock 600029
Update Stock 600030
Update Stock 600031
Update Stock 600036
Update Stock 600038
Update Stock 600048
Update Stock 600050
Update Stock 600061
Update Stock 600066
Update Stock 600068
Update Stock 600074
Update Stock 600085
Update Stock 600089
Update Stock 600100
Update Stock 600104
Update Stock 600109
Update Stock 600111
Update Stock 600115
Update Stock 600118
Update Stock 600153
Update Stock 600157
Update Stock 600170
Update Stock 600177
Update Stock 600188
Update Stock 600196
Update Stock 600208
Update Stock 600219
Update Stock 600221
Update Stock 600233
Update Stock 600271
Update Stock 600276
Update Stock 600297
Update Stock 600309
Update Stock 600332
Update Stock 600340
Update Stock 600352
Update Stock 600362
Update Stock 600369
Update Stock 600372
Update Stock 600373
Update Stock 600376
Update Stock 600383
Update Stock 600390
Update Stock 600406
Update Stock 600415
Update Stock 600436
Update Stock 600482
Update Stock 600485
Update Stock 600489
Update Stock 600498
Update Stock 600518
Update Stock 600519
Update Stock 600522
Update Stock 600535
Update Stock 600547
Update Stock 600549
Update Stock 600570
Update Stock 600583
Update Stock 600585
Update Stock 600588
Update Stock 600606
Update Stock 600637
Update Stock 600649
Update Stock 600660
Update Stock 600663
Update Stock 600674
Update Stock 600682
Update Stock 600685
Update Stock 600688
Update Stock 600690
Update Stock 600703
Update Stock 600704
Update Stock 600705
Update Stock 600739
Update Stock 600741
Update Stock 600795
Update Stock 600804
Update Stock 600816
Update Stock 600820
Update Stock 600827
Update Stock 600837
Update Stock 600871
Update Stock 600886
Update Stock 600887
Update Stock 600893
Update Stock 600895
Update Stock 600900
Update Stock 600909
Update Stock 600919
Update Stock 600926
Update Stock 600958
Update Stock 600959
Update Stock 600977
Update Stock 600999
Update Stock 601006
Update Stock 601009
Update Stock 601012
Update Stock 601018
Update Stock 601021
Update Stock 601088
Update Stock 601099
Update Stock 601111
Update Stock 601117
Update Stock 601118
Update Stock 601155
Update Stock 601163
Update Stock 601166
Update Stock 601169
Update Stock 601186
Update Stock 601198
Update Stock 601211
Update Stock 601212
Update Stock 601216
Update Stock 601225
Update Stock 601228
Update Stock 601229
Update Stock 601288
Update Stock 601318
Update Stock 601328
Update Stock 601333
Update Stock 601336
Update Stock 601375
Update Stock 601377
Update Stock 601390
Update Stock 601398
Update Stock 601555
Update Stock 601600
Update Stock 601601
Update Stock 601607
Update Stock 601608
Update Stock 601611
Update Stock 601618
Update Stock 601628
Update Stock 601633
Update Stock 601668
Update Stock 601669
Update Stock 601688
Update Stock 601718
Update Stock 601727
Update Stock 601766
Update Stock 601788
Update Stock 601800
Update Stock 601818
Update Stock 601857
Update Stock 601866
Update Stock 601872
Update Stock 601877
Update Stock 601878
Update Stock 601881
Update Stock 601888
Update Stock 601898
Update Stock 601899
Update Stock 601901
Update Stock 601919
Update Stock 601933
Update Stock 601939
Update Stock 601958
Update Stock 601966
Can not get the data of601966
Update Stock 601985
Can not get the data of601985
Update Stock 601988
Can not get the data of601988
Update Stock 601989
Can not get the data of601989
Update Stock 601991
Can not get the data of601991
Update Stock 601992
Can not get the data of601992
Update Stock 601997
Can not get the data of601997
Update Stock 601998
Can not get the data of601998
Update Stock 603160
Can not get the data of603160
Update Stock 603799
Can not get the data of603799
Update Stock 603833
Can not get the data of603833
Update Stock 603858
Can not get the data of603858
Update Stock 603993
Can not get the data of603993
Update Stock 000001
Update Stock 000002
Update Stock 000008
Update Stock 000060
Update Stock 000063
Update Stock 000069
Update Stock 000100
Update Stock 000157
Update Stock 000166
Update Stock 000333
Update Stock 000338
Update Stock 000402
Update Stock 000413
Update Stock 000415
Update Stock 000423
Update Stock 000425
Update Stock 000503
Update Stock 000538
Update Stock 000540
Update Stock 000559
Update Stock 000568
Update Stock 000623
Update Stock 000625
Update Stock 000627
Update Stock 000630
Update Stock 000651
Update Stock 000671
Update Stock 000686
Update Stock 000709
Update Stock 000723
Update Stock 000725
Update Stock 000728
Update Stock 000738
Update Stock 000750
Update Stock 000768
Update Stock 000776
Update Stock 000783
Update Stock 000792
Update Stock 000826
Update Stock 000839
Update Stock 000858
Update Stock 000876
Update Stock 000895
Update Stock 000898
Update Stock 000938
Update Stock 000959
Update Stock 000961
Update Stock 000963
Update Stock 000983
Update Stock 001979
Update Stock 002007
Update Stock 002008
Update Stock 002024
Update Stock 002027
Update Stock 002044
Update Stock 002065
Update Stock 002074
Update Stock 002081
Update Stock 002142
Update Stock 002146
Update Stock 002153
Update Stock 002174
Update Stock 002202
Update Stock 002230
Update Stock 002236
Update Stock 002241
Update Stock 002252
Update Stock 002292
Update Stock 002294
Update Stock 002304
Update Stock 002310
Update Stock 002352
Update Stock 002385
Update Stock 002411
Update Stock 002415
Update Stock 002424
Update Stock 002426
Update Stock 002450
Update Stock 002456
Update Stock 002460
Update Stock 002465
Update Stock 002466
Update Stock 002468
Update Stock 002470
Update Stock 002475
Update Stock 002500
Update Stock 002508
Update Stock 002555
Update Stock 002558
Update Stock 002572
Update Stock 002594
Update Stock 002601
Update Stock 002602
Update Stock 002608
Update Stock 002624
Update Stock 002673
Update Stock 002714
Update Stock 002736
Update Stock 002739
Update Stock 002797
Update Stock 002831
Update Stock 002839
Update Stock 002841
Update Stock 300003
Update Stock 300015
Update Stock 300017
Update Stock 300024
Update Stock 300027
Update Stock 300033
Update Stock 300059
Update Stock 300070
Update Stock 300072
Update Stock 300122
Update Stock 300124
Update Stock 300136
Update Stock 300144
Update Stock 300251
Update Stock 300315

In [5]:
prices_data = MYDB.df_of_stock(connect,'601878')
prices_data
#读取数据库中某支股票的数据

             open   high  close    low   volume
0
2018-04-10  12.59  12.93  12.86  12.52   150283
2018-04-09  12.39  12.62  12.56  12.14   104340
2018-04-04  12.66  12.85  12.48  12.45   100231
2018-04-03  12.51  12.74  12.58  12.33   107557
2018-04-02  12.71  13.15  12.77  12.66   156599
2018-03-30  12.68  12.84  12.74  12.59   129774
2018-03-29  12.48  12.88  12.71  12.41   190932
2018-03-28  12.28  12.69  12.36  12.21  93959.4
2018-03-27  12.39  12.64  12.55  12.38   116661
2018-03-26  12.03  12.34  12.32  11.69   108311
2018-03-23   12.6  12.82  12.21     12   220872
2018-03-22  13.28   13.5  13.25  13.21   135237
2018-03-21  13.17  13.87  13.27  13.17   230691
2018-03-20   13.2   13.3  13.21  13.07  83556.1
2018-03-19   13.3  13.47  13.33  13.21  74499.7
2018-03-16  13.36  13.59  13.29  13.29  82209.8
2018-03-15  13.58  13.61  13.33  13.16   127295
2018-03-14  13.63  13.85  13.67   13.6  89722.1
2018-03-13  13.98  13.98  13.71  13.67   160175
2018-03-12  14.24  14.35  14.05  13.95   207159
2018-03-09  13.58  13.98  13.94  13.55   214063
2018-03-08  13.55  13.64  13.57  13.48  84391.6
2018-03-07   13.7  13.81  13.53  13.47   142330
2018-03-06  13.49  13.87  13.76  13.42   220291
2018-03-05  13.36  13.55  13.39  13.35  77136.5
2018-03-02  13.35  13.61  13.41   13.3   119990
2018-03-01  13.26  13.56  13.51   13.2   106589
2018-02-28  13.26  13.71  13.48  13.02   159241
2018-02-27   13.6  13.64  13.43   13.4   119602
2018-02-26   13.3  13.73  13.66  13.11   191372
...           ...    ...    ...    ...      ...
2018-02-12  12.82  13.03  12.88   12.6   116801
2018-02-09  13.24  13.47  12.68  12.48   194288
2018-02-08  13.51  13.78   13.7  13.48   108085
2018-02-07  14.02   14.1  13.58  13.12   179734
2018-02-06  14.86  14.86   13.6   13.6   214262
2018-02-05   14.6  15.29   15.1  14.48   123622
2018-02-02  14.98  15.15  15.01  14.35   161506
2018-02-01  16.01   16.2  15.07  14.95   286724
2018-01-31  17.09  17.27  16.15   15.9   280667
2018-01-30  17.22  17.52  17.24  17.11   135848
2018-01-29   17.4  17.63  17.34  17.11   170721
2018-01-26  17.18  17.67  17.35  17.11   198650
2018-01-25  17.78  17.79  17.31   17.3   294424
2018-01-24  18.05  18.45     18  17.41   494324
2018-01-23  17.81  18.07  17.96  17.63   286734
2018-01-22   17.7  18.15  17.82  17.42   381795
2018-01-19  17.16  18.82  17.92     17   748842
2018-01-18     17  17.31  17.21  16.82   490850
2018-01-17   16.2  17.64  17.47   16.2   860135
2018-01-16  15.35  16.16  16.04  15.35   162780
2018-01-15  16.27  16.27   15.5  15.46   194589
2018-01-12  16.28  16.53  16.28  16.21   121245
2018-01-11   16.3  16.42  16.32  16.12   134178
2018-01-10  16.31  16.89  16.46  16.31   179694
2018-01-09   16.6  16.74  16.42  16.37   124562
2018-01-08   16.5  16.95  16.69  16.33   197598
2018-01-05  16.56  16.89  16.57   16.5   166560
2018-01-04  16.73   16.8  16.62  16.55   172431
2018-01-03  16.76  16.97  16.86  16.44   256239
2018-01-02  16.77  16.87  16.66  16.56   160973

[64 rows x 5 columns]

In [6]:
import myfun01

In [7]:
#Average true range
Atr = myfun01.get_atr(high=prices_data.high,low=prices_data.low,close=prices_data.close,index=prices_data.index)
Atr

0
2018-04-10    0.438
2018-04-09    0.436
2018-04-04    0.460
2018-04-03    0.446
2018-04-02    0.478
2018-03-30    0.560
2018-03-29    0.716
2018-03-28    0.752
2018-03-27    0.816
2018-03-26    0.738
2018-03-23    0.634
2018-03-22    0.474
2018-03-21    0.436
2018-03-20    0.366
2018-03-19    0.394
2018-03-16    0.420
2018-03-15    0.412
2018-03-14    0.378
2018-03-13    0.406
2018-03-12    0.422
2018-03-09    0.398
2018-03-08    0.388
2018-03-07    0.458
2018-03-06    0.450
2018-03-05    0.478
2018-03-02    0.528
2018-03-01    0.510
2018-02-28    0.436
2018-02-27    0.430
2018-02-26    0.392
              ...
2018-02-13    0.976
2018-02-12    1.190
2018-02-09    1.152
2018-02-08    1.158
2018-02-07    1.236
2018-02-06    1.252
2018-02-05    1.056
2018-02-02    1.008
2018-02-01    0.856
2018-01-31    0.790
2018-01-30    0.632
2018-01-29    0.674
2018-01-26    0.926
2018-01-25    1.150
2018-01-24    1.230
2018-01-23    1.440
2018-01-22    1.456
2018-01-19    1.256
2018-01-18    0.994
2018-01-17    0.822
2018-01-16    0.596
2018-01-15    0.558
2018-01-12    0.472
2018-01-11    0.466
2018-01-10    0.456
2018-01-09    0.424
2018-01-08    0.375
2018-01-05    0.370
2018-01-04    0.420
2018-01-03    0.310
Length: 63, dtype: float64

In [8]:
#Chandelier Exit
CE_L,CE_S = myfun01.get_CE(high=prices_data.high,low=prices_data.low,close=prices_data.close,index=prices_data.index)
CE = pd.concat([CE_L,CE_S],axis=1)
CE.columns = ['CE_long','CE_short']
CE

            CE_long  CE_short
0
2018-04-10   13.036    13.004
2018-04-09   13.042    12.998
2018-04-04   12.970    13.070
2018-04-03   13.012    13.028
2018-04-02   12.916    13.124
2018-03-30   12.670    13.370
2018-03-29   12.202    13.838
2018-03-28   12.094    13.946
2018-03-27   11.902    14.138
2018-03-26   12.136    13.904
2018-03-23   12.448    13.902
2018-03-22   12.928    14.072
2018-03-21   13.042    13.958
2018-03-20   13.252    13.698
2018-03-19   13.168    13.662
2018-03-16   13.090    13.740
2018-03-15   13.114    13.716
2018-03-14   13.726    13.614
2018-03-13   14.072    13.698
2018-03-12   14.024    13.746
2018-03-09   15.006    13.674
2018-03-08   16.106    13.644
2018-03-07   16.146    13.854
2018-03-06   16.280    13.830
2018-03-05   16.236    13.914
2018-03-02   16.206    14.064
2018-03-01   16.920    14.010
2018-02-28   17.142    13.788
2018-02-27   17.160    13.770
2018-02-26   17.644    13.656
...             ...       ...
2018-02-13   15.892    15.408
2018-02-12   15.250    16.050
2018-02-09   15.364    15.936
2018-02-08   15.346    16.594
2018-02-07   15.112    16.828
2018-02-06   15.064    17.356
2018-02-05   15.652    17.518
2018-02-02   15.796    17.374
2018-02-01   16.252    17.518
2018-01-31   16.450    17.720
2018-01-30   16.924    17.246
2018-01-29   16.798    17.372
2018-01-26   16.042    18.128
2018-01-25   15.370    18.800
2018-01-24   15.130    19.040
2018-01-23   14.500    19.670
2018-01-22   14.452    19.718
2018-01-19   15.052    19.118
2018-01-18   14.658    18.332
2018-01-17   15.174    17.816
2018-01-16   15.182    17.138
2018-01-15   15.296    17.134
2018-01-12   15.554    17.536
2018-01-11   15.572    17.518
2018-01-10   15.602    17.678
2018-01-09   15.698    17.602
2018-01-08   15.845    17.455
2018-01-05   15.860    17.550
2018-01-04   15.710    17.700
2018-01-03   16.040    17.370

[63 rows x 2 columns]

In [9]:
#Boll
up_band,mid_band,low_band = myfun01.get_boll(prices=prices_data.close,dates=prices_data.index)
Boll = pd.concat([up_band,mid_band,low_band],axis=1)
Boll.columns = ['up_band','mid_band','low_band']
Boll

              up_band  mid_band   low_band
0
2018-04-10  14.098231   12.9625  11.826769
2018-04-09  14.171306   13.0165  11.861694
2018-04-04  14.203883   13.0670  11.930117
2018-04-03  14.225985   13.1195  12.013015
2018-04-02  14.258500   13.1785  12.098500
2018-03-30  14.297632   13.2095  12.121368
2018-03-29  14.353453   13.2430  12.132547
2018-03-28  14.422216   13.2830  12.143784
2018-03-27  14.491053   13.3390  12.186947
2018-03-26  14.619165   13.3830  12.146835
2018-03-23  14.725032   13.4500  12.174968
2018-03-22  14.945192   13.4980  12.050808
2018-03-21  15.248446   13.4925  11.736554
2018-03-20  15.601973   13.4730  11.344027
2018-03-19  15.964936   13.4535  10.942064
2018-03-16  16.297310   13.4310  10.564690
2018-03-15  16.649263   13.4005  10.151737
2018-03-14  16.866800   13.4190   9.971200
2018-03-13  17.086076   13.4145   9.742924
2018-03-12  17.309303   13.4090   9.508697
2018-03-09  17.416400   13.4615   9.506600
2018-03-08  17.542481   13.5150   9.487519
2018-03-07  17.695844   13.5900   9.484156
2018-03-06  17.841681   13.7210   9.600319
2018-03-05  18.017426   13.8950   9.772574
2018-03-02  18.212620   14.0925   9.972380
2018-03-01  18.402819   14.2895  10.176181
2018-02-28  18.582220   14.4795  10.376780
2018-02-27  18.814956   14.7055  10.596044
2018-02-26  19.034605   14.9320  10.829395
2018-02-23  19.232505   15.1400  11.047495
2018-02-22  19.414567   15.3775  11.340433
2018-02-14  19.503342   15.5810  11.658658
2018-02-13  19.567818   15.8105  12.053182
2018-02-12  19.486468   15.9715  12.456532
2018-02-09  19.361257   16.1025  12.843743
2018-02-08  19.161831   16.2825  13.403169
2018-02-07  19.053517   16.4135  13.773483
2018-02-06  18.874509   16.5575  14.240491
2018-02-05  18.603378   16.6985  14.793622
2018-02-02  18.543656   16.7780  15.012344
2018-02-01  18.435458   16.8560  15.276542
2018-01-31  18.296757   16.9335  15.570243
2018-01-30  18.287217   16.9690  15.650783

In [10]:
import myfun02

In [11]:
#get eps
EPS = myfun02.get_eps(Years=[2017])
print(EPS['600519'])

[Getting data:]########################################################[Getting data:]###########################################################[Getting data:]##########################################################[Getting data:]#########################2017-04-25     4.87
2017-07-28     8.96
2017-10-26    15.91
2018-03-28    21.56
dtype: float64

In [12]:
#（再展示一组 毕竟全部的股票的EPS都抓取下来了）
EPS['601878']

2017-05-16    0.09
2017-08-16    0.18
2017-10-25    0.26
2018-03-13    0.34
dtype: float64

In [13]:
#动态PE 
PE = myfun02.get_pe(stock='601878',prices=prices_data.close,dates=prices_data.index,p_EPS=EPS)
PE

2018-04-10    37.823529
2018-04-09    36.941176
2018-04-04    36.705882
2018-04-03    37.000000
2018-04-02    37.558824
2018-03-30    37.470588
2018-03-29    37.382353
2018-03-28    36.352941
2018-03-27    36.911765
2018-03-26    36.235294
2018-03-23    35.911765
2018-03-22    38.970588
2018-03-21    39.029412
2018-03-20    38.852941
2018-03-19    39.205882
2018-03-16    39.088235
2018-03-15    39.205882
2018-03-14    40.205882
2018-03-13    40.323529
2018-03-12    54.038462
2018-03-09    53.615385
2018-03-08    52.192308
2018-03-07    52.038462
2018-03-06    52.923077
2018-03-05    51.500000
2018-03-02    51.576923
2018-03-01    51.961538
2018-02-28    51.846154
2018-02-27    51.653846
2018-02-26    52.538462
                ...
2018-02-12    49.538462
2018-02-09    48.769231
2018-02-08    52.692308
2018-02-07    52.230769
2018-02-06    52.307692
2018-02-05    58.076923
2018-02-02    57.730769
2018-02-01    57.961538
2018-01-31    62.115385
2018-01-30    66.307692
2018-01-29    66.692308
2018-01-26    66.730769
2018-01-25    66.576923
2018-01-24    69.230769
2018-01-23    69.076923
2018-01-22    68.538462
2018-01-19    68.923077
2018-01-18    66.192308
2018-01-17    67.192308
2018-01-16    61.692308
2018-01-15    59.615385
2018-01-12    62.615385
2018-01-11    62.769231
2018-01-10    63.307692
2018-01-09    63.153846
2018-01-08    64.192308
2018-01-05    63.730769
2018-01-04    63.923077
2018-01-03    64.846154
2018-01-02    64.076923
Length: 64, dtype: float64